
.texto_medio {
    text-align: justify;
    text-indent: 35px;
    
}

.texto_medio:hover::first-letter{
    font-size: 4rem;
    color: #0CC1E0;
}

.texto_grande{
        margin-left: 20vw;
        margin-right: 20vw;
        width: 54vw;
        text-align: justify;
        text-indent: 35px;
        background-color: #909495;
        padding: 2vw;
        border-radius: 10px;
        border: 0.2vw solid black;
        font-family: sans-serif;
        font-size: 2vw;
    }

.texto_grande:hover::first-letter{
        font-size: 4rem;
        color: #0CC1E0;
   }

.img {
    width: 70%;
    height: 50rem;
    margin-left: 15%;
    
}
